/* GENERAL*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* UTILITIES */
/* FLOAT */
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.float-r{
    float: right;
}
.float-l{
    float: left;
}
/* BUTTONS */
.btn{
    border: none;
    padding: 8px 16px
}
.btn-blue{
    background-color: #0d69ff;
    color: #fff;
}
.btn-big{
    padding: 8px 30px;
}
/* CONTAINER */
.lightblue-container{
    background-color: #b4d0e7;
}
.contained70{
    width: 70%;
    margin: auto;
    border: 1px solid red;
}
.contained60{
    width: 60%;
    margin: auto;
    border: 1px solid red;
}
/*  */

/* HEADER */
header{
    border-bottom: 1px solid black;
}
.list-container{
    width: 50%;
    display: inline-block;
}
header .nav-menu ul{
    padding-right: 30px;
}
header .nav-menu li{
    display: inline-block;
    padding: 30px;
}
header .nav-menu ul img{
   vertical-align: sub;
   padding-left: 30px;
}
/* 1°SECTION */
.lightblue-container .contained70 h1{
    font-size: 100px;
}
.section-bottom{
    padding-top: 30px;
    border: 1px solid purple;
}
.lightblue-container .contained70{
    position: relative;
    top: 100px;
}
.lightblue-container .text-section{
    width: 30%;
    border: 1px solid green;
    display: inline-block;
}
.lightblue-container .img-section{
    width: 70%;
    border: 1px solid green;
}
.lightblue-container .img-section img{
    width: 100%;
}
.button-section-one{
    padding: 30px 0;
}
.button-section-one p{
    line-height: 50px;
}
.section-bottom i{
    font-size: 50px;
}