/* GENERAL*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* UTILITIES */
/* BORDER */
.bord-blk{
    border: 1px solid black;
}
/* ICON */
.icon-cent{
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid black;
}
/* PADDING */
.pd-bottom70{
    padding-bottom: 70px;
}
/* MARGIN */
.mg-left20{
    margin-left: 20px;
}
/* FLOAT */
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.float-r{
    float: right;
}
.float-l{
    float: left;
}
/* BUTTONS */
.btn{
    border: none;
    padding: 8px 16px
}
.btn-blue{
    background-color: #0d69ff;
    color: #fff;
}
.btn-big{
    padding: 8px 60px;
}
/* CONTAINER */
.lightblue-container{
    background-color: #b4d0e7;
}
.contained70{
    width: 70%;
    margin: auto;
    border: 1px solid black;
}
.contained60{
    width: 60%;
    margin: auto;
}
/*  */

/* HEADER */
/* header{
    da usare position: fixed
} */
.list-container{
    width: 50%;
    display: inline-block;
}
header .nav-menu ul{
    padding-right: 30px;
}
header .nav-menu li{
    display: inline-block;
    padding: 30px;
}
header .nav-menu ul img{
   vertical-align: sub;
   padding-left: 30px;
}
/* 1°SECTION */
.lightblue-container .contained70 h1{
    font-size: 100px;
}
.lightblue-container .contained70{
    position: relative;
    top: 100px;
}
.lightblue-container .text-section{
    width: 30%;
    display: inline-block;
}
.lightblue-container .img-section{
    width: 70%;
}
.lightblue-container .img-section img{
    width: 100%;
}
.button-section-one{
    padding: 30px 0;
}
.button-section-one p{
    line-height: 50px;
}
.section-bottom i{
    font-size: 50px;
}
/* 2°SECTION */
.second-section .contained60{
    margin-top: 200px;
}
.second-section .contained60 > h2{
    font-size: 50px;
}
.columns{
    margin: 40px 0;
}
.col{
    height: 100%;
    float: left;
    width: calc(100% / 3);
}
.col:nth-child(1){
    padding-right: 60px;
}
.col:nth-child(3){
    padding-left: 60px;
}
.footer-columns-text{
    width: 80%;
    display:inline-block;
}
.footer-columns-text p{
    line-height: 50px;
}
.footer-columns-button{
    width: 20%;
    text-align: right;
}
.footer-columns-bottom{
    padding: 30px;
}