/* GENERAL*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.first-section, .second-section, .third-section, .fourth-section{
    border: 2px solid red;
}
/* UTILITIES */
/* BORDER */
.bord-blk{
    border: 1px solid black;
}
/* ICON */
.icon-cent{
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid black;
    font-size: 20px;
}
/* PADDING */
.pd-bottom45{
    padding-bottom: 45px;
}
.pd-bottom70{
    padding-bottom: 70px;
}
.pd-bottom20{
    padding-bottom: 20px;
}
/* MARGIN */
.mg-left20{
    margin-left: 20px;
}
.mg-top20{
    margin-top: 20px;
}
/* FLOAT */
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.float-r{
    float: right;
}
.float-l{
    float: left;
}
/* BUTTONS */
.btn{
    border: none;
    padding: 8px 16px
}
.btn-blue{
    background-color: #0d69ff;
    color: #fff;
}
.btn-white{
    background-color: #fff;
    border: 1px solid black;
    padding: 8px 30px;
    font-size: 15px;
}
.btn-big{
    border: none;
    padding: 8px 60px;
}
.btn-large{
    border: none;
    padding: 8px 30px;
}
/* LINE-HEIGHT */
.ln-height40{
    line-height: 40px;
}
/* CONTAINER */
.lightblue-container{
    background-color: #b4d0e7;
}
.contained60{
    width: 60%;
    margin: auto;
    border: 1px solid black;
}
.contained40{
    width: 45%;
    margin: auto;
    border: 1px solid black;
}
/*  */

/* HEADER */
/* header{
    da usare position: fixed
} */
.list-container{
    width: 50%;
    display: inline-block;
}
header .nav-menu ul{
    padding-right: 30px;
}
header .nav-menu li{
    display: inline-block;
    padding: 30px;
}
header .nav-menu ul img{
   vertical-align: sub;
   padding-left: 30px;
}
/* 1°SECTION */
.lightblue-container .contained60 h1{
    font-size: 90px;
}
.lightblue-container .contained60{
    position: relative;
    top: 100px;
}
.lightblue-container .text-section{
    width: 30%;
    display: inline-block;
}
.lightblue-container .img-section{
    width: 70%;
}
.lightblue-container .img-section img{
    width: 100%;
}
.button-section-one{
    padding: 30px 0;
}
.button-section-one p{
    line-height: 50px;
}
.section-bottom i{
    font-size: 50px;
}
/* 2°SECTION */
.second-section .contained40,
.third-section .contained40,
.fourth-section .contained40{
    margin-top: 200px;
}
.second-section .contained40 > h2,
.fourth-section .contained40 > h2{
    font-size: 45px;
}
.columns{
    margin: 40px 0;
}
.col{
    float: left;
    width: calc(100% / 3);
}
.col:nth-child(1){
    padding-right: 60px;
}
.col:nth-child(2){
    padding: 0 30px;
}
.col:nth-child(3){
    padding-left: 60px;
}
.col-content{
    padding: 20px;
}
.col-content .col-link{
    padding: 20px 0;
}
.col-content hr{
    width: 25%;
}
.footer-columns-text{
    width: 70%;
    display:inline-block;
}
.footer-columns-button{
    width: 30%;
    text-align: right;
}
.footer-columns-bottom{
    padding: 30px;
}
/* 3°SECTION */
.third-sec-col{
    width: 50%;
    float: left;
}
.third-sec-col:last-child{
    padding: 30px;
}
.third-sec-col:last-child p{
    line-height: 30px;
}
.third-sec-col img{
    width: 100%;
}
/* 4°SECTION */
.fourth-sec-col{
    display: inline-block;
    float: left;
    width: calc(100% / 3);
    border: 1px solid blue;
}
.fourth-sec-col-img, .fourth-sec-col-txt{
    border: 1px solid green;
}
.fourth-sec-col-img img{
    width: 100%;
    padding-right: 50px;
}
.fourth-sec-col-txt{
    width: 80%;
}








